/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import './theme.styl'

@import '../../node_modules/vuetify/src/stylus/app'

@import './settings.styl'


// variables
$brown = #A14F26

.container
  padding 0

.head
  font-size: 3rem
  color #fff
  background-color: $brown
  padding 0 1rem