@font-face
  font-family 'CharterC'
  src url('/public/fonts/CharterC.woff2') format('woff2')
@font-face
  font-family 'CharterC-Bold'
  src url('/public/fonts/CharterC-Bold.woff2') format('woff2')
@font-face
  font-family 'CharterC-BoldItalic'
  src url('/public/fonts/CharterC-BoldItalic.woff2') format('woff2')
@font-face
  font-family 'CharterC-Italic'
  src url('/public/fonts/CharterC-Italic.woff2') format('woff2')